<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-8"> <video  width="280" height="220" controls>
      <source src="https://www.youtube.com/watch?v=qmPmwdshCMw&t=464s" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag install extension for more details.
    </video></div>
    <div class="col-sm-6 col-lg-4">.col-sm-6 .col-lg-4</div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
  </div>
</div>