<!-- <div class="container">
  <div class="row">
    <div class="col col-example">
      <div class="img">
        <img src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/26/3026175525.jpg" alt="Snow" style="width:100%;">
        <div class="bottom-right">Bottom right</div>
        
      </div>
    </div>
    <div class="col col-example">Column</div>
    <div class="w-100"></div>
    <div class="col col-example">Column</div>
    <div class="col col-example">Column</div>
  </div>
</div> -->

<!-- <div class="container">

  <mat-grid-list #grid [cols]="cols" rowHeight="40:10" gutterSize="20px" >
  <mat-grid-tile rowHeight="40" rowspan="3" colspan="1" style="background: blue;">
      <img src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/26/3026175525.jpg" class="rounded-5" alt="Snow" style="width:100%; height:100%;"></mat-grid-tile>
    <mat-grid-tile  style="background: blue;">
      <img src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/26/3026175525.jpg" class="rounded-5" alt="Snow" style="width:100%; height:100%;">
    </mat-grid-tile>
    <mat-grid-tile  style="background: blue;">1</mat-grid-tile>
    <mat-grid-tile  style="background: blue;">2</mat-grid-tile>
    <mat-grid-tile  style="background: blue;">3</mat-grid-tile>
    <mat-grid-tile  style="background: blue;">4</mat-grid-tile>
    <mat-grid-tile  style="background: blue;">5</mat-grid-tile>
    <mat-grid-tile  style="background: blue;">6</mat-grid-tile>
    <mat-grid-tile  style="background: blue;">7</mat-grid-tile>
     </mat-grid-list>
</div> -->

<!-- <div class="container">
<app-navbar></app-navbar>
  <div class="row mt-4">
    <div class="col-md-5">Videos</div>
    <div class="col-md-4">Browser all videos</div>
    <div class="col-md-3">Activity <br> <div class="line border bg-dark w-100 h-1"></div> </div>
    
  </div>

  <div class="row">

		<div class="col-md-6">
      <img src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/26/3026175525.jpg" alt="Snow" style="width:100%;">
      <div class="coursel row 
          <img class="m-1" src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/26/3026175525.jpg" alt="Snow" style="width:40%;">
          <img class="m-2" src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/26/3026175525.jpg" alt="Snow" style="width:40%;">
      </div>
    </div>

    <div class="col-md-3">
    <img class="m-2" src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/26/3026175525.jpg" alt="Snow" style="width:35%;">
  
    </div>

    <div class="col-md-3 mt-4 nav-tabs">
      <div class="row nav-item">
        <img class="m-2 nav-link" src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/26/3026175525.jpg" alt="Snow" style="width:40%;">
        <h4>Ini adalah Gian</h4>
      </div>
      <div class="row nav-item">
        <img class="m-2 nav-link" src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/26/3026175525.jpg" alt="Snow" style="width:40%;">
        <h4>Ini adalah Suneo</h4>
      </div>
      <div class="row nav-item">
        <img class="m-2 nav-link" src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/26/3026175525.jpg" alt="Snow" style="width:40%;">
        <div class="col">
          <h4>Ini adalah Suneo</h4> <br><small>How to become a expert</small>
        </div>
      </div>
      <div class="row nav-item">
        <img class="m-2 nav-link" src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/26/3026175525.jpg" alt="Snow" style="width:40%;">
        <h4>Ini adalah Suneo</h4>
      </div>
      <div class="row nav-item">
        <img class="m-2 nav-link" src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/26/3026175525.jpg" alt="Snow" style="width:40%;">
        <h4>Ini adalah Suneo</h4>
      </div>
      <div class="row nav-item" *ngIf="showNotification">
        <span (click)="showNotification = false" >x</span>
        <img class="m-2 nav-link" src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2020/09/26/3026175525.jpg" alt="Snow" style="width:40%;">
        <h4>Ini adalah Suneo</h4>
      </div>
      <div class="mt-4 border bg-dark w-100 h-2"></div>
      </div>
  </div>
</div> -->
  <!-- 
  <div class="row mt-5">
    <div class="col">Videos</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
  <div class="row mt-2">
    <div class="col-md-6 col-sm"><iframe width="560" height="315" src="https://www.youtube.com/embed/3HkOSFxhlpQ"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

        <iframe width="250" height="155" src="https://www.youtube.com/embed/3HkOSFxhlpQ"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

        <iframe class="" width="250" height="155" src="https://www.youtube.com/embed/3HkOSFxhlpQ"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      </div>
    <div class="col-md-3"><iframe width="250" height="155" src="https://www.youtube.com/embed/3HkOSFxhlpQ"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <iframe width="250" height="155" src="https://www.youtube.com/embed/3HkOSFxhlpQ" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <button class="btn mce-btn-large"><i class="fa fa-circle"></i>Show <br>Your Work</button>
      </div>
    <div class="col-md-3">col-4</div>
  </div>
<div class="mt-5">
  <app-peoplevideo></app-peoplevideo>
</div>
</div> -->

    <!-- <div class='row mt-4'>
  <div class='col-sm-6'>
    <div class="row" *ngFor="let people of datavideo; let i=index">
      <div class="data" *ngIf="i<1">
        <p>Videos</p>
        <img src="https://cdn.idntimes.com/content-images/post/20190306/the-division-2-hero-banner-01-ps4-us-20jun18-b9c798ed30b2a08a6bdfc87a6c12bd5c_600x400.jpg" class="img-fluid" alt="Responsive image">
        <div class="text">
          {{people.tournamentName}}
        </div>
      </div>
    </div>
  </div>
  <div class='col-sm-3 mt-2'>
    Browser all video
    <div class="data" *ngFor="let people of datavideo; let i=index">
      <div class="data" *ngIf="i<2">
        <img src="https://cdn.idntimes.com/content-images/post/20190306/the-division-2-hero-banner-01-ps4-us-20jun18-b9c798ed30b2a08a6bdfc87a6c12bd5c_600x400.jpg" class="img-fluid" alt="Responsive image">
      {{people.tournamentName}}
      </div>
    </div>
    </div>
  <div class='col-sm-3'>3 cols</div>
  </div>
  
  </div> -->
  <!-- <div class="row mt-4">
    <div class="col-lg-5 bg-success">videos
      <div class="img" *ngFor="let people of datavideo; let i=index">
        <div class="data" *ngIf="i<1">
          <div class="card">
            <div class="card-body h-50">
                <h5 class="card-title top-100">{{people.tournamentName}}</h5>
                <p class="card-text">{{people.tournamentDescription | slice:30}}</p>
                <small class="float-right">147 Viewers</small>
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 bg-success">3 cols
      <div class="img" *ngFor="let people of datavideo; let i=index">
        <div class="data" *ngIf="i<2">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{people.tournamentName}}</h5>
            <p class="card-text"></p>
            <small class="float-right">147 Viewers</small>
        </div>
        </div>
        </div>
    </div>
    <div class="col-lg-2 bg-success">3 cols</div>
    <div class="col-lg-3 bg-success">3 cols</div>
  </div>
  </div> -->

  <!-- <div class="container my-4">

    <div class='row'>
      <div class='col-sm-9'>
      <img src="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(48).jpg" class="img-fluid mb-4 w-100%" alt="">
    </div>
    <div class='col-sm-3'>3 cols</div></div>

  </div> -->

  <div class="container">
  
   <div class="row show-grid ">

     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
       <h2>Video </h2>
       <div class="mt-2">
         <div class="headofvideo" *ngFor="let people of datavideo; let i=index">
           <div class="data" *ngIf="i<1">
             <video width="100%" height="365" controls>
               <source src="movie.mp4" type="video/mp4">
               <source src="movie.ogg" type="video/ogg">
                {{people.tournamentName}}
             </video>
            
             <br>
           </div>
         </div>
         
           <video width="50%" height="190px" controls>
             <source src="movie.mp4" type="video/mp4">
             <source src="movie.ogg" type="video/ogg">
           Your browser does not support the video tag.
           </video>
     
           <video class="" width="50%" height="190px" controls>
             <source src="movie.mp4" type="video/mp4">
             <source src="movie.ogg" type="video/ogg">
           Your browser does not support the video tag.
           </video>
        </div>
       </div>

     <div class="col-md-3 ">
       Browser Video
       <div class="mt-4">
         <video width="100%" height="180px" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video> <br>
          <video width="100%" height="180px" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video><br>
          <div class="border h-100% ">
            <button style="width: 100%; height: 190px; background:transparent;"><i class="fa fa-arrow-circle-up"></i> Upload your video</button>
          </div>
         </div>
       </div>
     <div class="col-md-3">Activity &nbsp; <small> View / Filter activities </small>
      <div class="border h-2 bg-dark"></div>
       <div class="mt-4 mat-tab-link-container" *ngFor="let people of datavideo; let i=index" >
        <div class="data" *ngIf="i<6">
         <video width="55%" height="70px" controls>
           <source src="movie.mp4" type="video/mp4">
           <source src="movie.ogg" type="video/ogg">
         Your browser does not support the video tag.
         </video>
         <span class="position-absolute ml-2">{{people.tournamentName}} <br>{{people.tournamentType}} <br>
        <i class="fa fa-viadeo-square"></i><small>{{people.tournamentStart | date }}</small>
        </span>
       </div>
       </div>
     </div>
     
   </div>

  <app-documents></app-documents>